<!--!DOCTYPE:   Represents the document type.-->
<!--html:       Only one per file, base element of a html file.-->

<!--head:       Only one per file. This is for the browser to see, not visible.-->

    <!--title:      Used on the head only. Tabs on browsers will display the input recieved.-->
<!--body:       Only one per file, content that is visible.-->

    <!--h1-6:       Gives heading styles to text (h1-h6).-->
    <!--p:          Forms a paragraph.-->
    <!--strong:     Makes the text stand out.-->
    <!--em:         Italicises the text.-->
    <!--a:          Used for creating hyperlinks-->
        <!--href:       hyperlink reference-->
        <!--a+img:      hyperlinks an image-->
    <!--u:          Underlines the text.-->
    <!--s:          Draws a line on the text.-->

    <!--hr:         Draws a horizontal line on the webpage.-->

    <!--ul:         Unordered List, features bullet points on the list.-->
    <!--ol:         Ordered List, features numbering on the list.-->
        <!--li:         Content from the list.-->

    <!--table:      Forms a table.-->
        <!--tr:         Table rows.-->
            <!--td:         Table data.-->

<!--article:    Standalone pieces of content that is used (thick cut'n'paste) on the webpage.-->
    <!--header:     A header of an article.-->
    <!--section:    A division of an article.-->
    <!--footer:     A footer of an article.-->
<!--div:        Element used for markup.-->
    <!--div+img:    Used to create a block-->
    <!--img:        Adds an image.-->
        <!--src:        defines the path of a saved image. e.g. '../folder 1/folder 2/image'-->
        <!--alt:        provide text description of the image, if the image cannot be displayed.-->
        <!--height:     changes height of the image.-->
        <!--width:      changes width of the image.-->
<!--styles:         Applies CSS styles to the webpage-->
<!--link:           Links a document to other resources, used on the head only.-->


<!--See w3 Schools, HTML references for more info on elements.-->