selector {rulesheet}
p, table 
    {
        color:green
    }
article 
    {
        color: darkgreen
    }
h1, h2, h3, h4, h5 ,h6 
    {
        color: olive
    }
body 
    {
        background-color: lightgreen
    }
